/* Apply a background image to the entire body of the document. */
body {
  background-image: url("./concrete.jpg"); /* The image used as a background. */
  background-repeat: no-repeat; /* The background image will not repeat. */
  background-attachment: fixed; /* The background image will not scroll with the page. */
  background-size: cover; /* The background image will cover the entire area of the element. */
}



/* Styling for the container that holds the player cards. */
.players {
  margin: auto;
  vertical-align: top;
  display:inline-block;
  text-align: center;
  align-items: center;
  align-content: center, space-around;
  justify-content: center;
}

/* Styling for individual player cards. */
.player-card {
  width: 400px; /* The width of the card. */
  height: 500px; /* The height of the card. */
  margin: 5px; /* The margin around the card. */
  background-color: rgb(0, 70, 0); /* The background color of the card. */
  border: #000 solid 3px; /* The border around the card. */
  border-radius: 5%; /* The radius of the card's corners. */
  box-shadow: inset; /* The shadow effect around the card. */
  overflow: hidden; /* Any content that goes outside the card will be hidden. */
  position: relative; /* The card's position is set to relative so it can be moved using the transform property. */
  transition: transform 0.3s; /* Transition effect for the transform property. */
}


/* Styling for when a user hovers over a player card. */
.player-card:hover {
  transform: translateY(
    -5px)
}

/* Styling for the container that holds the player's image. */
.player-image-container {
  height: 600px; /* The height of the image container. */
  padding: 10px; /* The padding around the image. */
}

/* Styling for the player's image. */
.player-image {
  width: 300px; /* The width of the image. */
  height: 350px; /* The height of the image. */
}

/* Styling for the player's details (name, breed, status). */
.player-details {
  flex-direction: column; /* The details are arranged in a column. */
  align-items: center; /* The details are centered along the vertical axis. */
  justify-content: center; /* The details are centered along the horizontal axis. */
  color: white; /* The color of the details text. */
  font-size: 16px; /* The size of the details text. */
  text-align: center; /* The details text is centered. */
}